.filter-states {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 2rem;
  width: 350px;
  padding: 0.5rem 1rem;
  margin: 0 auto;
  /* border: 1px solid blue; */
}

.active {
  background-color: var(--color4);
  color: var(--color1);
  cursor: pointer;
  box-shadow: 0px 2px #fff;
}

.filter-states button {
  background-color: var(--color1);
  color: var(--color4);
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  box-shadow: 0 1px #fff;
  font-family: inherit;
}

.filter-states button:hover {
  background-color: var(--color4);
  color: var(--color1);
  cursor: pointer;
  box-shadow: 0px 2px #fff;
}
